$main_font-family: 'Montserrat', sans-serif;
$second_font-family: 'Manrope', sans-serif;
$color_gray: #3C3C3C;
$color_gold: #B18655;
$color_black: #111;
$color_white: #fff;
$color_dark: #1D2935;
$color_blueGray: #28596C;
$color_hopeLight: #AAB1DD;
$color_hope: #6d75a9;
$color_second: #CFBAA9;