.idea/*
!.idea/vcs.xml
/.env

.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

.htaccess
baza

wp-admin/*
wp-includes/*
wp-content/languages*
wp-content/plugins*

wp-content/plugins/query-monitor/*
wp-content/plugins/debug-bar/*
wp-content/uploads/*
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
robots.txt

wp-content/themes/shop-w/node_modules
wp-content/themes/shop-w/vendor
wp-content/themes/shop-w/.eslintignore
wp-content/themes/shop-w/**/*.webp
sitemap.xml
*.log
wp-content/cache/*
wp-content/backups/*
wp-content/db.php

wp-content/w3*
wp-content/sedlex

dump/*
123.gs
gulpfile.js
yarn.lock
composer.phar
composer.lock
model.mwb.bak
.sass-cache

.settings/
.buildpath
.project

_*_php-errors.log
_*_sendmail.log
wp-content/themes/shop-w/assets/img/node_modules/.cache/terser-webpack-plugin/content-v2/sha512/8d/ac/9af338306b85962bc85d47b375582bea6061d661ac0c45bf18803872204bae2c6a9f00f4d499dc925d7a702212e5ee69cf9a3f9e050c84a92a1104d6ab55
wp-content/themes/shop-w/assets/img/node_modules/.cache/terser-webpack-plugin/content-v2/sha512/af/af/3ad25746d8112a66151ff310cc4564d9d0dfab3383edd0caf905063049c02b8169e3c57f69dbc84468d5596c68ce746a9bb51d355d08370c736fa864f659
wp-content/themes/shop-w/assets/img/node_modules/.cache/terser-webpack-plugin/content-v2/sha512/ca/c3/4a39b5eebbf85153a81c8b3b2f6ba0f831807b03a84929e41c46c670d31e549cd0075068dd6f49d3c5e92e65ee6272fa484be5dc5d29180032dde4b51bc2
wp-content/themes/shop-w/assets/img/node_modules/.cache/terser-webpack-plugin/index-v5/5d/7b/b82e5c1ab324873abb1994f8a8fb244be1ca451b41e15a10f30d7c467e6d
wp-content/themes/shop-w/assets/img/node_modules/.cache/terser-webpack-plugin/index-v5/9b/b1/00882ebb56486e8f0b95020c8ae6aebb3b6c015c530088428499097295ee
wp-content/themes/shop-w/assets/img/node_modules/.cache/terser-webpack-plugin/index-v5/d7/4f/346f91a45ad4ab8d44caf6ce3e895992f51bdee01422c65cb809e15f4c04
